@import 'tailwindcss';

@config '../tailwind.config.ts';

@theme {
    --breakpoint-100px: 100px;
	--breakpoint-200px: 200px;
	--breakpoint-300px: 300px;
	--breakpoint-432px: 432px;
	--breakpoint-350px: 350px;
	--breakpoint-400px: 400px;
	--breakpoint-450px: 450px;
	--breakpoint-500px: 500px;
	--breakpoint-600px: 600px;
	--breakpoint-700px: 700px;
	--breakpoint-800px: 800px;
	--breakpoint-900px: 900px;
	--breakpoint-1000px: 1000px;
	--breakpoint-1200px: 1200px;

    --breakpoint-xs: 30rem;
    --breakpoint-2xl: 100rem;
    --breakpoint-3xl: 120rem;
    
    --color-login: #fd8738;
    --color-login-950: #0e0e0e;
    --color-login-900: #121212;
    --color-login-800: #181818;
    --color-login-700: #1a1a1a;
    --color-login-600: #212121;
    --color-login-500: #323232;
    --color-login-400: #424242;
    --color-login-300: #5e5e5e;
    --color-login-200: #727272;
    --color-login-100: #b0b0b0;
    --color-login-50: #ededed;
}

@utility noscroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

@utility no-calendar {
    &::-webkit-calendar-picker-indicator {
        -webkit-appearance: textfield;
    }
}

:root {
    transition:
        background 0.4s,
        color 0.4s;
}

.dark {
    --background: #0e0e0e;
    --foreground: #ededed;

    --color-login: #fd8738;
    --color-login-950: #0e0e0e;
    --color-login-900: #121212;
    --color-login-800: #181818;
    --color-login-700: #1a1a1a;
    --color-login-600: #212121;
    --color-login-500: #323232;
    --color-login-400: #424242;
    --color-login-300: #5e5e5e;
    --color-login-200: #6b6b6b;
    --color-login-100: #b0b0b0;
    --color-login-50: #ededed;
}

.light {
    --background: #ededed;
    --foreground: #0e0e0e;

    --color-login: #fd8738;
    --color-login-950: #bebebe;
    --color-login-900: #c0c0c0;
    --color-login-800: #cfcfcf;
    --color-login-700: #d9d9d9;
    --color-login-600: #e3e3e3;
    --color-login-500: #ebebeb;
    --color-login-400: #f3f3f3;
    --color-login-300: #f7f7f7;
    --color-login-200: #fafafa;
    --color-login-100: #fcfcfc;
    --color-login-50: #ffffff;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes jump {
    40% {
        transform: translateY(-0.3rem);
    }
}

@utility animate-jump {
    animation: jump 0.4s 1;
}

@utility link-corner-hover {
    position: relative;
    
    &::after {
        content: ' ';
        position: absolute;
        width: .8em;
        height: .8em;
        bottom: .4em;
        right: .4em;
        border-right: .2em solid transparent;
        border-bottom: .2em solid transparent;
        transition: .2s;
    }
    
    &:hover::after {
        border-color: var(--color-login);
        right: 0;
        bottom: 0;
    }
}